h1 {
    color: rgb(51, 49, 49);
    font-size:50px;
    text-align: center;

}
h2{
    color: rgb(66, 66, 66);
}
h3 {
    color: rgb(255, 59, 59);
    font-size: 25px;
    text-align: center;
}

h4{
    color: rgb(255, 59, 59);
    font-size: 25px;
    text-align: center;
}
body{
    background-color: rgb(197, 197, 197);
    font-style: italic;
}

p{
    font-size: 20px;
}

li {
    font-size: 22px;
}

p1{
    font-size: 25px;
}

p{
    font-size: 21px;
}

a{
    font-size: 20px;
}

img{
    width: 800px;
    border: solid rgb(0, 0, 0) 9px;
    display: block;
    margin: auto;
    size: 20px;
}

div{
    padding: 15px;
}

span{
    font-weight: bold;
    color: rgb(19, 19, 19);
}

span1{
    font-weight: bold;
    color: rgb(19, 19, 19);
}

span2{
    font-weight: bold;
    color: rgb(19, 19, 19);
}


#id1{
    border: solid 2px rgb(110, 110, 110);
    border-radius: 10px;
    background-color: rgb(141, 141, 141);
}

.Curiosidades{
    font-weight: bold;
    color: rgb(26, 26, 26);
    font-size: 25px;
}